.wsss-app-container{
  position: relative;
}

.wsss-slides-container{
  position: absolute;
  width: 100%;
  height: 100%;
}

.wsss-thumbs-container{
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  background-color: darkolivegreen;
}