.wsss-app-container{
  position: relative;
}

.wsss-slides-container{
  position: absolute;
  width: 100%;
  height: 100%;
}

.wsss-thumbs-bar{
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 0;
  background-color: darkolivegreen;
}

.wsss-thumbs-overview{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lightseagreen;
}