<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WS-Slideshow</title>
    <!-- ref:css styles/ws-slideshow.<%= version %>.min.css -->
    <link rel="stylesheet" type="text/css" href="styles/ws-slideshow.css" />
    <!-- endref -->
    <!-- ref:remove -->
    <script src="//localhost:35729/livereload.js"></script>
    <!-- endref -->
    <script>

      function onloadHandler(){
        var ws = new WSSlideshow('ws-slideshow-container');
      }

    </script>
    <style type="text/css">

      .container{
        width: 500px;
        height: 300px;
        background-color: darkseagreen;
      }

    </style>
  </head>
  <body onload="onloadHandler()">
    <h1>WS-Slideshow example</h1>
    <ws-slideshow
      id="ws-slideshow-container"
      class="container"
      data-xml="./assets/xml/slides.xml"
        />
      <!--data-json="./assets/json/slides.json" -->

    <!-- ref:js js/ws-slideshow.<%= version %>.min.js -->
    <script type="text/javascript" src="js/ws-slideshow.lib.js"></script>
    <script type="text/javascript" src="js/ws-slideshow.js"></script>
    <!-- endref -->
  </body>
</html>